<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidwithkotlinonline" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MasterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android앱개발의정석WithKotlin올인원패키지Online"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".InstaLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MeloneActivity"
            android:exported="false" />
        <activity
            android:name=".MelonDetailActivity"
            android:exported="false" />
        <activity
            android:name=".YoutubeActivity"
            android:exported="false" />
        <activity
            android:name=".YoubuteItemActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".NetworkActivity"
            android:exported="false" />
        <activity
            android:name=".RoomActivity"
            android:exported="false" />
        <activity
            android:name=".SharedPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".TabLayoutPagerSimpleActivity"
            android:exported="false" />
        <activity
            android:name=".TabLayoutPagerNewActivity"
            android:exported="false" />
        <activity
            android:name=".TabLayoutPagerActivity"
            android:exported="false" />
        <activity
            android:name=".Test_15_check"
            android:exported="false" />
        <activity
            android:name=".Test_15"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".Test_12"
            android:exported="false" />
        <activity
            android:name=".Test_12_02"
            android:exported="false" />
        <activity
            android:name=".Test_12_check"
            android:exported="false" />
        <activity
            android:name=".Test_12_check_02"
            android:exported="false" />
        <activity
            android:name=".ListViewActivity_13"
            android:exported="false" />
        <activity
            android:name=".AddActivity_11"
            android:exported="false" />
        <activity
            android:name=".ResourceActivity"
            android:exported="false" />
        <activity
            android:name=".ApplicationActivityOne"
            android:exported="false" />
        <activity
            android:name=".ApplicationActivityTwo"
            android:exported="false" />
        <activity
            android:name=".AsyncActivity_09"
            android:exported="false" />
        <activity
            android:name=".ThreadActivity_08"
            android:exported="false" />
        <activity
            android:name=".FragmentActivity_07"
            android:exported="false" />
        <activity
            android:name=".Test_02_hard_check"
            android:exported="false" />
        <activity
            android:name=".Test_02_hard"
            android:exported="false" />
        <activity
            android:name=".Test_02_basic_check"
            android:exported="false" />
        <activity
            android:name=".Test_02_basic"
            android:exported="false" />
        <activity
            android:name=".Activity_05_01"
            android:exported="false" />
        <activity
            android:name=".Activity_05_03"
            android:exported="false" />
        <activity
            android:name=".Activity_05_02"
            android:exported="false" />
        <activity
            android:name=".Intent_03_01"
            android:exported="false" />
        <activity
            android:name=".Intent_03_02"
            android:exported="false" />
        <activity
            android:name=".Test_01_check"
            android:exported="false" />
        <activity
            android:name=".Test_01"
            android:exported="false" />
        <activity
            android:name=".ViewControl_02"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_01"
            android:exported="false" />
        <activity
            android:name=".InstaJoinActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>